body{color:#8B0000;
    background:#FFB6C1;}
.link{color:rgb(255, 156, 35); font-size:100px;  vertical-align: bottom;}
.nhtml {background: url('video.mp4');
    background-size: cover;
    text-align: center;
  }
  
  .bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -9999;
    min-width: 100%;
    min-height: 100%;
  }
.text{color:deeppink;}
.c{text-align: center;}